{% extends 'movie/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Ganre{% endblock %}

{% block content %}
    {% for movie in genre_page %}
        <div class="content-section">
            <h2>Movie name: {{ movie.name }}</h2>
            <h4>Genre list: {{ movie.genre_list }}</h4>
            <h4>Description: {{ movie.description }}</h4>
            <h4>Year: {{ movie.year }}</h4>
            <h4>Rating: {{ movie.rating }}</h4>

        {% if request.user.is_authenticated %}
                <button class="btn btn-outline-info"><a href="{% url 'add_to_favorites' movie.pk %}">Add to Favourite</a></button>
        {% endif %}
        </div>
    {% endfor %}

{% endblock %}

{% block content2 %}
    <h1>Top Rated Movies by Genre</h1>
    {% for i in genres %}
        <a href='{% url "genre_detail" i.pk %}'><h4>{{ i.genre }}</h4></a>
    {% endfor %}
{% endblock %}
