{% extends 'movie/base.html' %}

{% block title %}Genre{% endblock %}

{% block content %}

    {% for movie in genre_page %}
        <h1>Ganre details: {{ movie.name }}</h1>
        <h3>Ganre genre_list: {{ movie.genre_list }}</h3>
        <h3>Ganre description: {{ movie.description }}</h3>
        <h3>Ganre year: {{ movie.year }}</h3>
        <h3>Ganre rating: {{ movie.rating }}</h3>
    {% endfor %}
{% endblock %}

{% block content2 %}
    <h1>Top Rated Movies by Genre</h1>
    {% for i in genres %}
        <a href='{% url "genre_detail" i.pk %}'><h4>{{ i.genre }}</h4></a>
    {% endfor %}
{% endblock %}
